#principal {
    grid-area: principal;
    padding: 1rem;
}

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.filtro-categoria {
    display: flex;
    align-items: center;
    gap: 12px;
}


@media (max-width: 700px) {
    #contenedor-productos {
        grid-template-columns: 1fr;
    }
    .barra-superior {
        flex-direction: column;
        gap: 8px;
        max-width: 99vw;
    }
}